@font-face {
    font-family: 'DIN Next LT Arabic Regular';
    src: local("DIN Next LT Arabic Regular"),url(../../../../assets/fonts/DIN.ttf) format('truetype');
}
/*navbar */
.navbar-expand {
    width: 100%;
}

.nav li{

    margin-right: 25px;
}



/*Sidebar*/
.menu-item{
    font-family:'DIN Next LT Arabic Regular',Fallback, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #1e22b4;
}
/*a9sam title Sidebar*/
.menu-item-h3{
    font-family:'DIN Next LT Arabic Regular',Fallback, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #474242;
    padding: 10px;
}


.menu {
    width: 100%;
    display: block;
    padding: 0px;
    color: #243ebf;

     }
.menu ul {
    position: relative;
    top: 0px;
    font-size: 24px;
    padding: 0px;
    overflow-y: scroll;
    height: 785px;
    scrollbar-gutter: initial;


}
/*scrollbar Sidebar*/
.menu ul::-webkit-scrollbar {
    width: 10px;
}

.menu ul::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.menu ul::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #1e22b4;

}

.menu li {
    list-style: outside none none;
    margin: 10px 15px;
    padding: 0;
    cursor: pointer;

}
.menu li:hover {
    color: #ff0000;
}

.Sidebar div::-webkit-scrollbar {
    width: 0px;
}


.sticky{
    display: flex;
    justify-content: space-between;
  background: #1e22b4;
   color: #ececf3;
    padding: 15px;
    height: 60px;
    border-radius: 2px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.sticky > h4{
    font-family:'DIN Next LT Arabic Regular',Fallback, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width: 790px ){
    .sticky{
        background: #1e22b4;
        color: #ececf3;

    }
    .menu{
        width: 250px;
    }
    .social-nav{
        height: auto;
        width: auto;
    }
    .menu li {
        white-space:normal;
        font-size:small;
        font-weight: lighter;
    }

}
@media screen and (max-height: 850px ){
    .sticky{
        background: #1e22b4;
        color: #ececf3;

    }
}
@media screen and (max-width:1317px) {
    .nav{
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-right: 25px;
    }
    .nav li{
        margin-left: 30px;
        white-space: nowrap;
    }
}