body{
    direction:rtl;
}
.affix #first {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;
    -o-transition:padding 0.2s linear;
    transition:padding 0.2s linear;
}

section {
    margin-top: 200px;}